html {
    font-family: 'reddit sans';
    color: #ffffff;
    background-color: #252525;
}

.center {
    text-align: center;
}

.text {
    font-size: 16px;
    white-space: pre;
}

.bgtop {
    background-image: url('images/nar1.png');
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgbottom {
    background-image: url('images/nar2.png');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.scrolltext {
    height: 250px;
}

@keyframes hover {
  0%   {left:0px; top:0px;}
  25%  {left:1px; top:0px;}
  50%  {left:1px; top:1px;}
  75%  {left:0px; top:1px;}
  100% {left:0px; top:0px;}
}

.topNav {
  position: sticky;  
  top: 0;
  background-color: #252525;
  border-bottom: 2px solid #454545;
  padding: 6px 0px 6px;
}

.link {
    display: inline;
    z-index: 1;
    font-weight: bold;
}

.link a {
    padding-right: 5%;
    text-decoration: none;
    color: #357196;
}

a:visited {
    color: #40b9bd;
}
  
a:hover {
    color: #20506e;
    text-decoration: underline;
    animation: hover 1 linear 0.1 infinite;
}
  
a:active {
    color: #ffffff;
}