/*----general----*/
/*-----start-----*/

html {
    font-family: 'reddit sans';
    color: #ffffff;
    background-color: #252525;
}

.center {
    text-align: center;
}

.text {
    font-size: 16px;
    width: 80%;
    margin: auto;
}

.psym { /* 'psym' is short for particle symbol */
    font-family: 'playfair display';
    font-style: italic;
    font-weight: bold;
}

hr.dark {
    border: 1px solid #303030;
} 

.quote {
    background-color: rgb(36,37,39);
    opacity: 0.8;
    margin: 20px 100px;
    padding: 10px;
    border-top: 2px solid rgb(30,30,30);
    border-left: 2px solid rgb(30,30,30);
    border-right: 2px solid rgb(27,27,27);
    border-bottom: 2px solid rgb(27,27,27);
  }

/*----general----*/
/*------end------*/

/*----paralax----*/
/*-----start-----*/

.bgtop {
    background-image: url('images/nar1.png');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgbottom {
    background-image: url('images/nar2.png');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*----paralax----*/
/*------end------*/

/*----scroll-----*/
/*-----start-----*/

.scrolltext {
    min-height: 250px;
    padding: 15px 10px;
    width: 80%;
    margin: auto;
}

.scrolltextsmall {
    height: 20px;
    position: sticky;
    bottom: 0;
    background-color: #252525;
    padding: 6px 0px 6px;
}

.topNav {
  position: sticky;  
  top: 0;
  background-color: #252525;
  border-bottom: 2px solid #454545;
  padding: 6px 0px 6px;
  z-index: 2;
}

/*----scroll-----*/
/*-----start-----*/

/*-----link------*/
/*-----start-----*/

.link {
    display: inline;
    font-weight: bold;
}

.link a {
    color: #357196;
    padding-right: 5%;
    text-decoration: none;
}

.link2 {
    display: inline;
    font-weight: bold;
}

.link2 a {
    color: #357196;
    text-decoration: none;
}

a:link {
    color: #357196;
    text-decoration: none;
}

a:visited {
    color: #40b9bd;
}
  
a:hover {
    color: #20506e;
    text-decoration: underline;
    animation: hover 1s ease 0.1s infinite;
}
  
a:active {
    color: #ffffff;
}

/*------link-----*/
/*------end------*/

/*------w3code-----*/
/*------start------*/

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 300px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*------w3code-----*/
/*-------end-------*/