html {
    font-family: 'reddit sans';
    color: #ffffff;
    background-color: #252525;
}

.topNav {
    border-bottom: 2px solid #454545;
}

.link {
    display: inline;
}

.link a {
    padding-right: 10%;
    text-decoration: none;
    color: #359648;
}

a:visited {
    color: #43bf5c;
  }
  
a:hover {
    color: #4ee66c;
  }
  
a:active {
    color: #4dfa70;
  }